*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #faf8f4;
  color: #3c3c3b;
  font-size: 1.1875rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0;
  min-height: 100vh;
  text-align: left;
}

input,
button,
textarea,
select {
  font: inherit;
}
